body {
    margin: 2%;
}

#bcimg {
    opacity: 0.60;
    height: 100%;
    width: 100%;
}

#icons {
    height: 30px;
    width: 30px;
}

h1 {
    color: whitesmoke;
    font-size: 3em;
}
.content {
    margin: 2%;
}
p {
    text-align: justify;
    text-justify: inter-word;
    color: rgb(12, 12, 12);
}

.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

